@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(../../styles/contact.css);
@import url(../../styles/header.css);
@import url(../../styles/projects.css);
@import url(../../styles/skills.css);
@import url(../../styles/welcome.css);
body {
  color: rgb(var(--foreground-rgb));
}

:root {
  --color: #121212;
  --bg-color: rgba(255, 255, 255, 0.9);

  --theme: rgba(255, 255, 255, 0.9);

  --project-card-color: #121212;
}

html,
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body {
  color: var(--color);
  background-color: var(--bg-color);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  padding: 0 7rem 0 7rem;
}

footer {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media only screen and (max-width: 600px) {
  main {
    padding: 0 1rem;
  }
  footer {
    padding: 0 0.9rem;
  }
  img {
    object-fit: cover;
  }
}
