/* .about {
  padding-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

.about-photo > img {
  width: 550px;
}

.about-content > p {
  font-size: 1.3rem;
}

@media only screen and (max-width: 600px) {
  .about {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .about-photo > img {
    width: 350px;
    height: 350px;
    align-items: center;
  }
  .about-content {
    padding: 0 2rem;
  }
} */
