.contact > div > form > input {
  border: 3px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  height: 2rem;
  border: 1px solid #ccc;
  padding: 7px 14px 9px;
  transition: all 0.4s ease;
}

.contact > div > form > input:not([type='submit']):focus {
  border-color: #99b4df;
  box-shadow: 0 0 8px 0 #99b4df;
}

textarea {
  resize: none;
  height: 8rem;
  border-color: #ccc;
  border-radius: 4px;
}

textarea:focus {
  border-color: #99b4df;
  box-shadow: 0 0 8px 0 #99b4df;
}