.projects {
  padding-top: 7rem;
  display: flex;
  gap: 3rem;
  justify-content: center;
  /* align-items: center; */
}

.card {
  margin-bottom: 100px;
  width: 400px;
  height: 300px;
  border-radius: 8px;
  background-color: antiquewhite;
}
