.skills-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  color: currentColor;
}
.skills-grid > svg {
  width: 64px;
  margin: 8px;
  padding: 8px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s;
}
.skills-grid > svg:hover {
  border-radius: 4px;
  transform: scale(1.2);
  background-color: rgba(255, 255, 255, 0.1);
}

.html-svg:hover {
  border: 1px solid #e34f26;
  fill: #e34f26;
}
.css-svg:hover {
  border: 1px solid #1572b6;
  fill: #1572b6;
}
.js-svg:hover {
  border: 1px solid #f7df1e;
  fill: #f7df1e;
}
.react-svg:hover {
  border: 1px solid #61dafb;
  fill: #61dafb;
}
.nextjs-svg:hover {
  border: 1px solid #000000;
  fill: #000000;
}
.tailwindcss-svg:hover {
  border: 1px solid #06b6d4;
  fill: #06b6d4;
}

.figma-svg:hover {
  border: 1px solid #f24e1e;
  fill: #f24e1e;
}

/* Backend */
.nodejs-svg:hover {
  border: 1px solid #339933;
  fill: #339933;
}
.express-svg:hover {
  border: 1px solid #000000;
  fill: #000000;
}
.python-svg:hover {
  border: 1px solid #3776ab;
  fill: #3776ab;
}
.mysql-svg:hover {
  border: 1px solid #4479a1;
  fill: #4479a1;
}
.firebase-svg:hover {
  border: 1px solid #ffca28;
  fill: #ffca28;
}

@media only screen and (max-width: 600px) {
  .skills {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0 2rem;
  }
  .skills-heading {
    padding-left: 2rem;
  }
  .skills > img {
    height: 350px;
    width: 350px;
    margin-top: -2rem;
  }
}
