.welcome {
    height: 64vh;
}
.welcome-msg {
    margin: 8rem 0 0 0;
}

.welcome-msg h1,h2,h3{
    margin: 8px 0;
    font-weight: 500;
}
.welcome-msg > h2 {
    font-size: 2rem;
}
.welcome-msg > h3 {
    font-size: 2rem;
    font-weight: 500;
}
.welcome-msg > h1 {
    font-size: 3rem;
    font-weight: 600;
}
.welcome-cta {
    display: flex;
    margin-top: 3rem;
    align-items: center;
}
.welcome-cta > button {
    cursor: pointer;
    padding: 8px 16px;
    margin-right: 8px;
    border-radius: 4px;
    background-color:transparent;
    border: 1px solid black;
    color: black;
}
.welcome-cta > button:hover{
    color: white;
    background-color: black;
}
.welcome-cta > a {
    margin-left: 1rem;
}

.welcome-cta > a > svg {
    height: 25px;
}

.welcome-photo {
    position: absolute;
    top: 8.5rem;
    right: 6rem;
    border-radius: 52px;
}
.welcome-photo > img {
    width: 600px;
}
.welcome-photo > div {
    background-color: rgb(194, 94, 36);
    width: 300px;
    height: 280px;
    position: absolute;
    top: 3.5rem;
    right: 9.5rem;
    z-index: -1;
    border-radius: 200px;
}