.welcome {
    display: flex;
    margin: 8rem 0 4rem 0;
}

.welcome-msg h1,h2,h3{
    margin: 0 0;
    font-weight: 500;
}
.welcome-msg > h1 {
    font-size: 3rem;
    font-weight: 600;
}
.welcome-msg > h2 {
    font-size: 2rem;
}
.welcome-msg > h3 {
    font-size: 1.5rem;
    font-weight: 500;
}
.welcome-cta {
    display: flex;
    margin-top: 3rem;
    align-items: center;
}
.welcome-cta > button {
    cursor: pointer;
    padding: 8px 16px;
    margin-right: 8px;
    border-radius: 4px;
    background-color:transparent;
    border: 1px solid currentColor;
    color: currentColor;
}
.welcome-cta > button:hover{
    color: white;
    background-color: black;
}
.welcome-cta > a {
    margin-left: 1rem;
    transition: all 0.1s;
}
.welcome-cta > a:hover{
    transform: scale(1.2);
}
.welcome-cta > a > svg {
    height: 25px;
}

.welcome-photo > img {
    width: 600px;
    margin-top: -6rem;
    margin-bottom: 1rem;
}

.welcome-photo > div {
    background-color: rgb(194, 94, 36);
    width: 300px;
    height: 280px;

    z-index: -1;
    border-radius: 200px;
}